# AWS Region
aws_region = "ap-northeast-1"

# Project Configuration
project_name = "school-diary"
environment  = "production"

# Persistent secrets
db_password       = "CHANGE_ME_STRONG_PASSWORD_MIN_8_CHARS" # TODO: Set a strong password
django_secret_key = "CHANGE_ME_DJANGO_SECRET_KEY"           # TODO: Set a strong secret key

# Persistent application config
django_settings_module            = "config.settings.production"
django_admin_url                  = "admin/"
django_secure_ssl_redirect        = false
django_account_allow_registration = true
django_default_from_email         = "hiroki0107@gmail.com"
django_server_email               = "hiroki0107@gmail.com"
web_concurrency                   = 4
